*{
    margin: 0%;
    padding: 0%;
    border: none;
}

img{
    align-self: auto;
}

.Puntuacion{
    display: inherit;
    z-index: 0;
}
.Contenedor{
    z-index: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
}

#Superior{
    z-index: -1;
    width: 100%;
    height: 50%;
    top: 0%;
    background-color: blue;
    position: absolute;
}

#Inferior{
    top: 50%;
    width: 100%;
    height: 50%;
    background-color: black;
    position: absolute;
}
