*{
    margin: 0% auto;
    padding: 0%;
    border: none;
}

img{
    top: 50%;
    position: absolute;
}

#Superior{
    width: 100%;
    height: 50%;
    background-color: blue;
    position: absolute;
}

#Inferior{
    top: 50%;
    width: 100%;
    height: 50%;
    background-color: black;
    position: absolute;
}

#Sup1{
    left: 15%;
}

#Sup2{
    left: 30%;
}

#Sup3{
    left: 45%;
}

#Sup4{
    left: 60%;
}

#Sup5{
    left: 75%;
}

#Inf1{
    left: 15%;
}

#Inf2{
    left: 30%;
}

#Inf3{
    left: 45%;
}

#Inf4{
    left: 60%;
}

#Inf5{
    left: 75%;
}