*{
    margin: 0%;
    padding: 0%;
    border: none;
}

img{
    align-self: auto;
}

.Puntuacion{
    display: inherit;
    z-index: 0;
}
.Contenedor{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
}

#Superior{
    z-index: -1;
    width: 100%;
    height: 50%;
    top: 0%;
    background-color: blue;
    position: absolute;
}

#Inferior{
    top: 50%;
    width: 100%;
    height: 50%;
    background-color: black;
    position: absolute;
}
/*
#Sup1{
    left: 15%;
}

#Sup2{
    left: 30%;
}

#Sup3{
    left: 45%;
}

#Sup4{
    left: 60%;
}

#Sup5{
    left: 75%;
}

#Inf1{
    left: 15%;
}

#Inf2{
    left: 30%;
}

#Inf3{
    left: 45%;
}

#Inf4{
    left: 60%;
}

#Inf5{
    left: 75%;
}
*/